:root {
  --primary-color: #033b93;
  --primary-color-hover: #073480;
  --secondary-color: #fac300;
  --secondary-color-hover: #f3ba00;
  --dark-grey-color: #333333;
  --dark-grey-color-hover: #222222;
  --light-blue-color: #e7ebf6;
}